@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
  font-family: "Roboto Flex", sans-serif, serif;
  scrollbar-color: #54cafa #181818;
}
section {
  @apply flex justify-center items-center bg-background text-text;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #181818;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(36, 36, 36);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-primary;
}

.shadow-border {
  box-shadow: rgba(6, 121, 198, 0.2) 0px 2px 100px;
  @apply border-primary border-4;
}
